<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dịch vụ</h2>
                    <h3 class="section-subheading text-muted">Danh sách dịch vụ của chúng tôi</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Quản lý bán hàng</h4>
                    <p class="text-muted">Hệ thống quản lý bán hàng thiết kế trên Google sheet/Google Appsheet từ đơn giản gọn nhẹ đến hệ thống CRM nhiều tính năng</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Báo cáo tự động</h4>
                    <p class="text-muted">Xây dự kho dữ liệu chuẩn chỉnh và thiết kế dashboard và report tự động giúp theo dõi doanh thu, hiệu suất nhân viên nhanh chóng</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Thiết kế theo nhu cầu</h4>
                    <p class="text-muted">Thiết kế các công cụ theo nhu cầu riêng biệt của bạn</p>
                </div>
            </div>
        </div>
    </section>