<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Giới thiệu về tôi</h2>
                    <!-- <h3 class="section-subheading text-muted">Giới thiệu</h3> -->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Là một chuyên viên phân tích dữ liệu (data analyst), với 6 năm kinh nghiệm trong lĩnh vực phân tích dữ liệu & thiết kế giải pháp công nghệ trên Excel, Google sheet & Appsheet, tôi hiểu những khó khăn và vấn đề mà các cá nhân kinh doanh & doanh nghiệp nhỏ thường gặp phải khi phải quản lý nhiều thông tin khác nhau từ kinh doanh, tài chính, nhân sự, sale & marketing trong khi không đủ kinh phí để đầu tư các giải pháp đắt tiền</p>
                    <p class="large text-muted">Do đó mục tiêu của tôi ở đây là cung cấp các giải pháp công nghệ đơn giản, dễ sử dụng, chuyên biệt nhưng hiệu quả và phù hợp với ngân sách của bạn.</p>
                </div>
            </div>
        </div>
    </section>